
  <div class="container" id="show" data-controller="terrains">
      <div class="search container">

      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              50 DH
            </span>
          </span>
          <p class="title">City Foot</p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p>&nbsp;&nbsp;Casablanca, sbata</p>
          </div>
          <p class="info" style="color: white;">Offers a wide range of services to allow its visitors to experience a unique blend of football and pleasure in a place where football and fun are one</p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
  </div>
