
  <div class="container" id="show" data-controller="terrains">
      <div class="search container">

      </div>



      <% @terrains.each do |terrain| %>
      <div class="plan">
        <div class="inner">
          <span class="pricing">
            <span>
              <%= terrain.price %> DH
            </span>
          </span>
          <p class="title" style="margin-top:13px;"><%= terrain.name %></p>
          <div class="d-flex">
            <i class="fa-solid fa-location-dot" style="color: #58ca64;margin-top: 0"></i>
            <p style="height:20px;margin-bottom:50px;">&nbsp;&nbsp;<%= terrain.address %></p>
          </div>
          <p class="info" style="color: white;height:200px;overflow:hidden;"><%= terrain.desc %></p>
          <div class="action">
          <a class="button" href="#">
            visit
          </a>
          </div>
        </div>
      </div>
      <% end %>


  </div>
