<div id="terrain">
  <div class="terrain-container">
    <h2> <%= @terrain.name%></h2>
    <p><i class="fa-light fa-location-dot"></i> <%= @terrain.address%></p>
    <div class="terrain">
      <div class="terrain-image">
        <img src="https://www.sportomaroc.ma/images/uploads/clubs/medium/football-casablanca-sportomaroc%20(8).jpg" alt="" >
      </div>
    </div>
  </div>

</div>
