<div id="footer">
<footer class="footer-distributed">

			<div class="footer-left">

				<h3>N<span>9asro</span></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>

					<a href="#">About Us</a>

					<a href="#">FAQ</a>

					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">N9asro © 2024</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>44  Brahim Roudani</span> Maarif, Casablanca</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>0661641513</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@n9asro.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About N9asro</span>
										N9asro is an application designed to address the frustration stemming from the challenge of finding fellow players or teams to engage in various activities
				</p>



			</div>

		</footer>
</div>
