<div id="match">
  <div class="lobby">
    <div class="player-lobby" style="background-image:">

    </div>
    <div class="player-list">
      <h3>team 1</h3>
      <%5.times do %>
      <div class="player-placeholder">
        <div class="player-info">
          <div class="player-avatar" style="background-image:"></div>
          <div class="player-name">player name</div>
        </div>
      <button>Join</button>
      </div>
      <%end%>

    </div>
  </div>



</div>
